<main>
      <section id="homepage-hero" class="text-center">
        <div id="homepage-intro-container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1>
                80% of Rwandans Live on Homes With <br>
                <span class="orange-text">Dirt Floors</span>
              </h1>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <p class="secondary-headline">
                We are helping to change that
              </p>
            </div>
          </div>
        </div>
      </section> <!-- /#homepage-hero -->
      
      <section id="our-mission" class="text-center container">
        <h2>Our Mission</h2>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="lead">
              Dirt floors are just what you think: dirty. Dust is kicked up, spills and puddles stick around, 
              and the floors of peoples’ homes become a breeding ground for mosquitos, parasites, and all of 
              the disease that comes with them. But concrete floors are just too expensive for many families, 
              especially in Rwanda. EarthEnable’s custom-developed earthen floors are the solution.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="lead btn-danger">
              Our mission is to eliminate unsanitary dirt floors and provide affordable, sanitary flooring that 
              can be washed, cleaned, and create a healthy home environment for millions of people.
            </p>
          </div>
        </div>
      </section> <!-- /#our-mission -->
      
      <section id="homepage-video" class="text-center">
        <h2>Learn More About Our Story</h2>
        <a href="#"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
      </section> <!-- /homepage-video -->
      
      <section id="why-floors" class="text-center container">
        <h2>Why Floors?</h2>
        
        <div class="row">
          <div class="col-md-8 col-md-offset-2 why-box">
            <div class="row">
              <div class="col-md-3">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
              <div class="col-md-9 text-justify">
                <h3>Health</h3>
                <p>
                  Diarrhea is one of the leading causes of childhood death in Rwanda. Healthy floors have been 
                  shown to reduce the incidence of childhood diarrhea by 49% and parasitic infections by 78%.
                </p>
                <p>
                  Dirt floors have been shown to harbor parasites, bacteria, and pathogens dangerous to children 
                  and the adults living in these homes. More than 1.8 million people are killed by diarrhea 
                  alone each year. The risks of diarrhea, malnutrition, asthma and pneumonia have all been 
                  shown to be reduced drastically when a home environment does not have a dirt floor.
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-8 col-md-offset-2 why-box">
            <div class="row">
              <div class="col-md-9 text-justify">
                <h3>Affordability</h3>
                <p>
                  An EathEnable floor is 75% cheaper than a concrete floor. All of the benefits of a healthy floor 
                  at just a fraction of the price.
                </p>
                <p>
                  Concrete is simply too expensive for many Rwandans, costing more than 2 months’ worth of an 
                  average family’s salary. When the choice comes down to buying food or buying a floor, most 
                  families cannot even consider the purchase of concrete. Having a healthy floor that is 75% 
                  cheaper makes it accessible to all Rwandans.
                </p>
              </div>
              <div class="col-md-3">
                <span class="glyphicon glyphicon-usd glyphicon-alt" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-8 col-md-offset-2 why-box">
            <div class="row">
              <div class="col-md-3">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
              </div>
              <div class="col-md-9 text-justify">
                <h3>Jobs</h3>
                <p>
                  EathEnable is committed to creating a long-term solution in Rwanda, which means 
                  training Rwandans to do the work.
                </p>
                <p>
                  As part of EarthEnable’s model, we train local Rwandans as masons to learn exactly how to 
                  create and install an earthen floor. Then, the masons are able to go out and become 
                  income-generating entrepreneurs utilizing their new skills. We also hire and train for 
                  many other full-time positions including helpers for the masons, chemists, managers, 
                  administrative staff, and student interns.
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-8 col-md-offset-2 why-box">
            <div class="row">
              <div class="col-md-9 text-justify">
                <h3>Sustainability</h3>
                <p>
                  Creating a floor that is healthy for humans AND good for the environment has 
                  always been a top priority at EarthEnable.
                </p>
                <p>
                  Utilizing natural materials and green building techniques allows us to minimize our 
                  carbon footprint. Cement makes up 5% of total global carbon emissions and is incredibly 
                  energy intensive to produce. Earthen floors have 90% less embedded energy and are 
                  structurally strong, waterproof, and abrasion resistant. There are significantly more 
                  environmentally sustainable building materials than cement, and part of our mission is 
                  to put the developing world on a more sustainable development path.
                </p>
              </div>
              <div class="col-md-3">
                <span class="glyphicon glyphicon-leaf glyphicon-alt" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      
    </footer>